.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .filler{
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header{
    -fx-background-color: #f8f0dd;
}
.table-view .column-header{
    -fx-border-insets: -1 -1 -1 -1;
    -fx-border-color: #d3b090;
}
.table-row-cell:odd{
    -fx-background-color: #f8f0dd;
}
.table-row-cell:even{
    -fx-background-color: #f8f0dd;
}
.table-row-cell:selected{
    -fx-background-color: #d3b090;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #f8f0dd;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #d3b090
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #d3b090
}
.table-view:focused .table-row-cell:focused {
    -fx-border-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
    -fx-table-cell-border-color: #d3b090;
}
.table-row-cell {
    -fx-table-cell-border-color: #d3b090;
}

.button{
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: #b1947f;
}

.combo-box{
    -fx-background-color: #f8f0dd;
}

.default-color0.chart-pie{
    -fx-pie-color: red;
}

.default-color1.chart-pie{
    -fx-pie-color: green;
}

.default-color2.chart-pie{
    -fx-pie-color: red;
}

.default-color3.chart-pie{
    -fx-pie-color: green;
}