.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #936e4e;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #936e4e;
}
.split-pane {
    -fx-background-color:  #f8f0dd;
    -fx-border-color: #936e4e;
}
.tree-view .tree-cell {
    -fx-background-color: #f8f0dd;
}
.tree-view .tree-cell:selected{
    -fx-background-color: #d3b090;
}



.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .filler{
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header{
    -fx-background-color: #f8f0dd;
}
.table-view .column-header{
    -fx-border-insets: -1 -1 -1 -1;
    -fx-border-color: #d3b090;
}
.table-row-cell:odd{
    -fx-background-color: #f8f0dd;
}
.table-row-cell:even{
    -fx-background-color: #f8f0dd;
}
.table-row-cell:selected{
    -fx-background-color: #d3b090;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #f8f0dd;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #d3b090
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #d3b090
}
.table-view:focused .table-row-cell:focused {
    -fx-border-color: derive(-fx-base, 20%);
    -fx-background-insets: 0 0 0 0;
    -fx-table-cell-border-color: #d3b090;
}
.table-row-cell {
    -fx-table-cell-border-color: #d3b090;
}
#Name{
    -fx-alignment: CENTER-LEFT;
}
#Size{
    -fx-alignment: CENTER;
}
#Date{
    -fx-alignment: CENTER;
}



.button{
    -fx-background-color: #d3b090;
}

.button:hover{
    -fx-background-color: #b1947f;
}